<header role="banner" data-siteid="MLA" class="nav-header nav-header-plus ui-navigation-v2">
    <div class="nav-bounds nav-bounds-with-cart">
        <div class="nav-header-plus-logo nav-area nav-top-area nav-left-area">
            <a class="nav-logo" href=""></a>
        </div>

        <div class="nav-area nav-top-area nav-center-area">
            <div class="nav-menu">
                <ul class="nav-menu-list">

                    <li class="nav-menu-item">
                        <a routerLink="/home" class="nav-menu-item-link" rel="">Home</a>
                    </li>

                    <li class="nav-menu-item">
                        <a routerLink="/contact" class="nav-menu-item-link" rel="">Contacto</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>
