.nav-header .ml-count {
    font-weight: 600
}

.nav-header-plus .nav-bounds {
    display: grid;
    grid-template-areas: "nav-left-top nav-center-top nav-right-top" "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 588px) minmax(350px, 390px);
    grid-template-rows: 40px 28px;
    column-gap: 20px;
    grid-column-gap: 20px;
    row-gap: 12px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px;
    background-color: #ffe600;
}

.nav-header-plus .nav-area {
    display: flex;
    flex-direction: row
}

.nav-header-plus .nav-top-area {
    height: 40px;
    align-items: center
}

.nav-logo {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    background-image: url("../../../assets/logo.png");
    height: 34px;
    width: 134px;
    display: flex;
    position: static;
    left: 0;
    top: 0;
    background-size: contain
}

.nav-menu {
    margin: 0;
    height: 100%
}

.nav-menu .nav-menu-list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap
}

.nav-menu .nav-menu-list .nav-menu-item {
    display: flex;
    align-items: flex-end;
    height: 28px;
    margin-right: 15px
}

.nav-menu .nav-menu-list .nav-menu-item:last-child {
    margin-right: 0
}

.nav-menu-item {
    line-height: 18px;
    font-size: 14px
}

.nav-menu-item a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, .8980392157);
    transition: color .3s ease-out;
    font-weight: 400
}

.nav-menu-item a:link,
.nav-menu-item a:visited {
    color: rgba(0, 0, 0, .8980392157)
}

.nav-menu-item a:hover,
.nav-menu-item a:active,
.nav-menu-item a:focus {
    color: rgba(51, 51, 51, .9);
    text-decoration: none
}

.nav-menu-item a.nav-menu-item-link {
    position: relative
}

.nav-menu-item a.nav-menu-item-link .nav-link-tag {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 85%
}

.nav-menu-item .nav-menu-categories-link {
    display: flex;
    line-height: 18px;
    box-sizing: border-box;
    position: relative;
    padding-right: 14px
}

.nav-menu-item .nav-menu-categories-link:after {
    border-style: solid;
    border-width: 0 1.5px 1.5px 0;
    content: "";
    display: inline-block;
    height: 6px;
    transform: rotate(45deg);
    width: 6px;
    color: rgba(0, 0, 0, .3);
    margin: 0;
    bottom: 6px;
    right: 2px;
    position: absolute;
    padding: 2px
}

.nav-menu-item .nav-menu-categories-link:before {
    content: none
}

.nav-menu-item .nav-categs {
    top: calc(100% - 12px)
}